/* setting gif as tiled background */
body {
  background-image: url("https://media.giphy.com/media/zaXhe5yFYWReByyTOk/giphy-downsized-large.gif");
  font-family: "Nunito", sans-serif;
}
/* id to target home button in upper left-hand corner of page */
#home-button {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  background-color: turquoise;
  border: solid black;
  border-radius: 2px;
  width: 100px;
  height: 40px;
  text-align: center;
}
/* id to target title of page */
#title {
  background-color: turquoise;
  text-shadow: 3px 3px pink;
  border: solid black;
  border-radius: 2px;
  height: 75px;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

/* game board grid */
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 0.25fr);
  grid-template-rows: repeat(6, 0.25fr);
  height: 75vw;
  width: 75vw;
  align-items: center;
  justify-items: center;
  place-self: center;
  margin: auto;
  gap: 5px;
}

/* to distinguish category row from level rows 100-500 */
.category {
  border: solid black;
  align-self: flex-end;
  text-align: center;
  align-items: center;
  background-color: purple;
  justify-self: stretch;
  padding: 1em;
}

.level-100 {
  border: solid black;
  background-color: rgb(255, 38, 0);
  align-self: stretch;
  text-align: center;
  align-items: center;
  justify-self: stretch;
  padding: 3em;
  justify-content: center;
}

.level-200 {
  border: solid black;
  background-color: rgb(255, 136, 0);
  align-self: stretch;
  text-align: center;
  align-items: center;
  justify-self: stretch;
  padding: 3em;
  justify-content: center;
}

.level-300 {
  border: 2px solid black;
  background-color: rgb(255, 217, 47);
  align-self: stretch;
  text-align: center;
  align-items: center;
  justify-self: stretch;
  padding: 3em;
  justify-content: center;
}

.level-400 {
  border: 2px solid black;
  background-color: rgb(53, 177, 22);
  align-self: stretch;
  text-align: center;
  align-items: center;
  justify-self: stretch;
  padding: 3em;
  justify-content: center;
}

.level-500 {
  border: 2px solid black;
  background-color: rgb(10, 131, 115);
  align-self: stretch;
  text-align: center;
  align-items: center;
  justify-self: stretch;
  padding: 3em;
  justify-content: center;
}

/* class containing grid with four components */
.bottom-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
  border-radius: 2px;
  padding-bottom: 100px;
  padding-top: 50px;
  height: 300px;
  width: 500px;
  margin: auto;
}
/* id to target "_____, it's your turn!" */
#turn {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 15px;
  background-color: pink;
  border-radius: 2px;
  padding: 45px;
  border: solid black;
  border-radius: 2px;
}

/* id to target "what is?" user input box */
#input-button {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border: solid black;
  border-radius: 2px;
  justify-content: left;
  background-color: pink;
  display: flex;
  height: 50px;
}

/* id to target "guess" button */
#guess {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  border: solid black;
  border-radius: 2px;
  background-color: palegreen;
  height: 35px;
}

/* id to target "pass" button */
#pass {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  border: solid black;
  border-radius: 2px;
  background-color: palegreen;
  height: 35px;
}

/* class containing player 1 and player 2 scores */
.scoreboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 75px;
}

/* id to target player one score */
#player-1 {
  align-self: flex-start;
  padding: 10px;
  border-radius: 2px;
  border: solid black;
  background-color: yellow;
}

/* id to target player two score */
#player-2 {
  align-self: flex-end;
  padding: 10px;
  border-radius: 2px;
  border: solid black;
  background-color: yellow;
}

/* class containing footer elements (previous page link (bottom=left) and next page link (bottom-right)) */
.footer-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

/* Id to target previous page button */
#previous-page {
  align-items: flex-end;
  order: 1;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 2px;
  border: solid black;
  background-color: turquoise;
}

/* Id to target next page button */
#next-page {
  align-items: flex-end;
  order: 2;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 2px;
  border: solid black;
  background-color: turquoise;
}
